<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Corona Virus Tracker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>
	<h1>Corona Virus Tracker Application</h1>
	<p>This application lists the current number of cases reported
		across the globe</p>

	<div class="jumbotron">
		<h1 class="display-4" th:text="${totalReportedCases}"></h1>
		<p class="lead">Total cases</p>
		<h1 class="display-4" th:text="${newCases}"></h1>
		<p class="lead">Total cases reported as of today</p>
	</div>

	<div>
		<table class="table">
			<tr>
				<th>State</th>
				<th>Country</th>
				<th>Total cases reported</th>
				<th>Changes since last day</th>
			</tr>
			<tr th:each="locationStat : ${locationStats}">
				<td th:text="${locationStat.state}"></td>
				<td th:text="${locationStat.country}"></td>
				<td th:text="${locationStat.latestTotalCases}">0</td>
				<td th:text="${locationStat.diffFromPrevDay}">0</td>
			</tr>
		</table>

	</div>




</body>

</html>